<%- include('partials/header') -%>
<div class="container">
  <section class="side-img-community">
    <img src="/imgs/community-banner.png">
</section>
<!-- New -->

<ul class="collapsible friends-collapsible">
  <li>
    <div class="collapsible-header"><h1 class="friends-header">Friends (<%= friends.length %>)</h1></div>
    <div class="collapsible-body">
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <% for(let i=0; i < friends.length; i++) {%>
                    <td><a class="friends-list" href="profile/<%= friends[i]._id %>"><%= friends[i].userName %></a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</ul>
<!-- Old -->
  <div class="row justify-content-center mt-5">
    <ul class="row list-unstyled">
      <% for(var i=0; i<entries.length; i++) {%>
        <li class="col-3 justify-content-between mt-5">
          <div class="card" style="width: 20rem; height: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><%= entries[i].title.substring(0, 20)+"..."%></h4>
              <span class="card-text"><%= entries[i].userName%></span>
              <p class="card-text"><%= entries[i].body.substring(0, 50)+"..."%></p>
              <a href="/entries/<%= entries[i]._id%>" class="btn btn-primary">Read More</a>
            </div>
          </div>
          </a>
        </li>
      <% } %>
      </ul>
  </div>
</div>  
 




<%- include('partials/footer') -%>