<%- include('partials/header') -%>
<main class="container">
<h6>Profile</h6>

<h4>Welcome <%= user.userName %></p></h4>
<h5>Your Goals:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Goal</th>
      <th scope="col">Completed?</th>
      <th scope="col"><span class="fa fa-trash"></span></th>
    </tr>
  </thead>
    <tbody>
    <% goals.forEach(el => { %>
      <tr class='goalItem' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.createdAt.toDateString() %></span></td>
        <td><span class ='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.goal %></span></td>
        <td><span><%= el.completed %></span></td>
        <td><span> <form
        action="/goal/deleteGoal/<%= el._id%>?_method=DELETE"
        method="POST"
        class="col-3"
      >
        <button class="btn btn-dark fa fa-trash" type="submit"></button>
      </form>
      </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>

  <a class="btn btn-outline-dark" href="/goal">Add a Goal</a>


<!--If entries add here -->
<h5>Here are your journal entries:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col"><span class="fa fa-trash"></span></th>
    </tr>
  </thead>
    <tbody>
    <% entries.forEach(el => { %>
      <tr class='entries' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.createdAt.toDateString() %></span></td>
        <td><span> <a href="/entries/<%= el._id%>"><%=el.title %> </a></span></a></td>
        <td><span><%=el.status %> </span></td>
        <td><span> 
          <form
            action="/entries/deleteEntry/<%= el._id%>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-dark fa fa-trash" type="submit"></button>
          </form>
          </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>

</main>
<script src="/public/js/main.js"></script>
<%- include('partials/footer') -%>