<%- include('partials/header') -%>
<main class="container">
  <section class="side-img-community">
    <img src="/imgs/journal-banner.png">
  </section>
<h4><%= user.userName %>'s Running Journal</p></h4>

<!-- Races -->
<h5>Races:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Race Name</th>
      <th scope="col">Date and Start Time</th>
      <th scope="col"><span class="fa fa-trash"></span></th>
    </tr>
  </thead>
    <tbody>
    <% races.forEach(el => { %>
      <tr class='raceItem' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.race %></span></td>
        <td><span><%=el.raceDate %></span></td>
        <td><span> <form
        action="/race/deleteRACE/<%= el._id%>?_method=DELETE"
        method="POST"
        class="col-3"
      >
        <button class="btn btn-dark fa fa-trash" type="submit"></button>
      </form>
      </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>


<!-- Goals -->
<h5>Goals:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date Added</th>
      <th scope="col">Goal</th>
      <th scope="col"><span class="fa fa-trash"></span></th>
    </tr>
  </thead>
    <tbody>
    <% goals.forEach(el => { %>
      <tr class='goalItem' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.createdAt.toDateString() %></span></td>
        <td><span class ='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.goal %></span></td>
        <td><span> <form
        action="/goal/deleteGoal/<%= el._id%>?_method=DELETE"
        method="POST"
        class="col-3"
      >
        <button class="btn btn-dark fa fa-trash" type="submit"></button>
      </form>
      </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>

<!--If entries add here -->
<h5>Journal Entries:</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
      <th scope="col"><span class="fa fa-trash"></span></th>
    </tr>
  </thead>
    <tbody>
    <% entries.forEach(el => { %>
      <tr class='entries' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.createdAt.toDateString() %></span></td>
        <td><span> <a href="/entries/<%= el._id%>"><%=el.title %> </a></span></a></td>
        <td><span><%=el.status %> </span></td>
        <td><span> 
          <form
            action="/entries/deleteEntry/<%= el._id%>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-dark fa fa-trash" type="submit"></button>
          </form>
          </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>

</main>
<script src="/public/js/main.js"></script>
<%- include('partials/footer') -%>