<%- include('partials/header') -%>
<main class="container">
<h6>Profile</h6>
<h4>Welcome <%= user.userName %></p></h4>
<p>Here are your journal entries:</p>
<!--If stories add here -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Title</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
    <tbody>
    <% entries.forEach(el => { %>
      <tr class='entries' data-name='<%=el.user%>' data-id='<%=el._id%>'>
        <td><span><%=el.createdAt %></span></td>
        <td><span><%=el.title %> </span></td>
        <td><span><%=el.status %> </span></td>
      </tr>
    <% }) %>
    </tbody>
  </table>

</main>

<%- include('partials/footer') -%>