<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="col-6">
       <!-- Entry Section -->
       <section class="entry-group">
      <h2><%= entries.title %></h2>
      <h4><%= entries.userName %></h4>
      <p><%= entries.body %></p>
      </section>
      <div class="row">
      
      <!-- Delete Post -->
        <%if(entries.user == user.id){ %>
        <form
          action="/entries/deleteEntry/<%= entries._id%>?_method=DELETE"
          method="POST"
          class="col-3"
        ><div>
          <button class="btn btn-dark fa fa-trash" type="submit"></button>
        </form>
        <% } %>
      </div>
     
      <a class="btn btn-dark" href="/edit"></a>Edit</a>
      
      </div>
    </div>
   <!-- Caption-->
   
    
     
     <!-- Return Navigation -->
    <div class="col-6 mt-5">
      <a class="btn btn-dark" href="/dashboard">Return to Profile</a>
      <a class="btn btn-dark" href="/community">Return to Community</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
