<%- include('partials/header') -%>
<!--Profile Card-->
<% user.forEach(el => { %>
<div class="card" style="width: 18rem;" data-name='<%=el.user%>' data-id='<%=el._id%>'>
    <img class="card-img-top" src="#" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%= user.userName%></p>
    </div>
  </div>
  <% }) %>
  <!--User's Posts-->
  <div class="container">
    <section class="side-img-community">
      <img src="/imgs/community-banner.png">
  </section>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% entries.forEach(el => { %>
          <li class="col-3 justify-content-between mt-5">
            <div class="card" style="width: 20rem; height: 20rem;">
              <div class="card-body">
                <h5 class="card-title"><%= el.title.substring(0, 20)+"..."%></h4>
                <span class="card-text"><%= el.userName%></span>
                <p class="card-text"><%= el.body.substring(0, 50)+"..."%></p>
                <a href="/entries/<%= entries[i]._id%>" class="btn btn-primary">Read More</a>
              </div>
            </div>
            </a>
          </li>
          <% }) %>
        </ul>
    </div>
  </div>  
   
  
  
<%- include('partials/footer') -%>